body {
    font-family: Arial, sans-serif;
    background: #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background: #f95959;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.answer-button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #233142;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.answer-button:hover {
    background-color: #e3e3e3;
}

.answer-button.selected {
    background-color: #fecea8;
    font-weight: bold;
}

#next-button {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #455d7a;
    color: white;
    border: none;
    border-radius: 8px;
}

#result {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.hidden {
    display: none;
}